body {
    padding: 0 15%;
    margin:0;
    font-family: "Roboto";
    font-size:12px;
    box-sizing: border-box;
    font-style: italic;
    color: rgb(10, 10, 10);

}

.grid-container {
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
}

.left-side, .right-side {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 15px;
    padding-right:50px;
    padding-top:15px;
    min-height:100vh;

}

.left-side {
background-color: #003E5B;
color:white;
}
.right-side {
    background-color: rgba(206, 206, 206, 0.33);

}


.photo {
    height: 150px;
    width:150px;
    border: 3px solid #BF2B63;
    border-radius:50%;
    background-image:url('./photo.jpg');
    background-size: contain;
    align-self: center;
    margin-bottom:15px;
}
.left-side .my-name {
    display:none;
}
.separator {
    height:20px;
    min-width: 90%;
    line-height: 20px;
    margin-left:-25px;
    padding-left:25px;
    background-color: #BF2B63;
    position:relative;
    box-shadow: 2px 2px 2px grey;

}

.separator:before {
    display:block;
    content:'';
    height:0;
    width:0;
    border:5px solid transparent;
    border-right:5px solid rgb(138, 32, 72);
    border-top:5px solid rgb(138, 32, 72);
    position:absolute;
    bottom:-10px;
    left:0px;
}

.info-block {
    min-width:100%;
}
.block-name {
    text-transform: uppercase;
    vertical-align: middle;
    font-weight:700;
}
.info-block__item-name {
font-weight: 500;

}

.scale {
    padding:0;
    list-style: none;
    display:flex;
    justify-content: flex-start;
}
.scale__item {
height:10px;
width:10px;
margin-right:5px;
background-color:white;
}
.scale__item.transparent {
    background-color:transparent;
    border: 1px solid white;
    box-sizing: border-box;
}

.list {
    padding:0;
    list-style: none;
}
a {
 color:inherit;
 text-decoration:none;
 margin-right:10px;
}
p {
    text-align: justify;
}

.my-name {
    text-transform: uppercase;
}